{% extends "application.twig" %}
	
{% block container %}

<div class="six columns offset-by-five">

	<h4>The end of an era...</h4>
	<p>They say all good things must come to an end, and it appears that Jeepstatus' time has come.  Chrysler has decided to add a random number generator to it's VOTS system to disallow the reused of URLs.  If you're not a geek like me I'll make that more plain:  Chrsyler doesn't want you to use JeepStatus or any other means of seeing into the backend of their VOTS system.  In fact, you can't even save your backend URL anymore as it will expire and be unusable.</p>

	<p>If Chrysler's web team had designed a nice, simple, usuable tool from the beginning there would have been no need for JeepStatus to exist.  (For the geeks, they didn't even use proper JSON responses)</p>

	<p>So farewell, and may your Jeep see more dirt than pavement.</p>

	<p>To Chrysler, please take my code.  Make something usuable out of VOTS instead of the crap you provide.</p>

	<!--
	<form action="/status" method="post" name="getStatus">
	    <h4>Enter your details...</h4>
		<fieldset>
			<input name="last" type="text" placeholder="Last Name...">
			<input name="vin" type="text" placeholder="Last 8 of VIN...">
			<button type="submit">Submit</button>
		</fieldset>
	</form>
	-->
</div>

{% endblock container %}
